@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #2A2A2A;
    --foreground: #ededed;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Roboto, Segoe UI, sans-serif;
    scrollbar-color: rgba(239, 108, 0, 0.5) #00000000;
}

.svg-wrapper {
    opacity: 0;
    animation: fadeInAnimation 0.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



